#chat2 .form-control {
border-color: transparent;
}

#chat2 .form-control:focus {
border-color: transparent;
box-shadow: inset 0px 0px 0px 1px transparent;
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

.Blink {
    animation: blinker 0.7s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
}

@keyframes blinker {  
  from { opacity: 1; }
  to { opacity: 0; }
}

.red {
    color: red;
}

.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880FF;
  color: #9880FF;
  animation: dot-flashing 1s infinite linear alternate;
  animation-delay: 0.5s;
  margin-left: 60px;
  margin-top: 13px;
}
.dot-flashing::before, .dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880FF;
  color: #9880FF;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 0s;
}
.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880FF;
  color: #9880FF;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 1s;
}
@keyframes dot-flashing {
  0% {
    background-color: #9880FF;
  }
  50%, 100% {
    background-color: rgba(152, 128, 255, 0.2);
  }
}

.card {
  background-image: url(../img/background_conan.png);
  background-repeat: no-repeat;
  background-position: 60px 70px;
  background-color: #486F91;
}

.card-header {
  background-color: #386187;
  --mdb-card-header-border-width: 0px;
}

#h5_character {
  color: white;
}

.card-footer {
  background-color: white;
}

.text-back {
  background-color: #F7E64F;
}

.img_profile_character {
  width: 45px; 
  height: 100%;
  border-radius: 13px;
}