#chat2 .form-control {
border-color: transparent;
}

#chat2 .form-control:focus {
border-color: transparent;
box-shadow: inset 0px 0px 0px 1px transparent;
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

.Blink {
    animation: blinker 0.7s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
}

@keyframes blinker {  
  from { opacity: 1; }
  to { opacity: 0; }
}

.red {
    color: red;
}

.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #324d64;
  color: #324d64;
  animation: dot-flashing 1s infinite linear alternate;
  animation-delay: 0.5s;
  margin-left: 60px;
  margin-top: 13px;
  z-index: 11;
}
.dot-flashing::before, .dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #324d64;
  color: #324d64;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 0s;
}
.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #324d64;
  color: #324d64;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 1s;
}
@keyframes dot-flashing {
  0% {
    background-color: #324d64;
  }
  50%, 100% {
    background-color: rgba(152, 128, 255, 0.2);
  }
}
img.opac {
  opacity: 0.5;
  filter: alpha(opacity=50); /* IE8 및 그 이하 버전용 */
}
  
img.opac:hover {
  opacity: 1.0;
  filter: alpha(opacity=100); /* IE8 및 그 이하 버전용 */
}
.conan_card {
  background-image: url(../img/background_conan.png);
  background-repeat: no-repeat;
  background-position: 105px 70px;
  background-color: #486F91;
  background-size: contain;
}

.you_card {
  background-image: url(../img/background_you.png);
  background-repeat: no-repeat;
  background-position: 60px 70px;
  background-color: #486F91;
}

.nam_card {
  background-image: url(../img/background_nam.png);
  background-repeat: no-repeat;
  background-position: 60px 70px;
  background-color: #486F91;
}

.card-header {
  background-color: #386187;
  --mdb-card-header-border-width: 0px;
  cursor: pointer;
}

#h5_character {
  color: white;
}

.div_character {
  margin-left: auto;
  margin-right: auto;
}

.card-footer {
  background-color: white;
}

.text-back {
  background-color: #F7E64F;
}

.img_profile_character {
  width: 45px; 
  height: 100%;
  border-radius: 13px;
  z-index: 11;
}

.modalCharacter {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 11; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modalRecorder {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 11; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modalHelper {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 11; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modalCharacterContent {
  background-color: #ffffff;
  color: black;
  margin: 8% auto;
  padding: 3%;
  border: 1px solid #888;
  width: 45%;
}

.modalRecorderContent {
  background-color: #ffffff;
  color: black;
  margin: 50% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
  border-radius: 5px;
}

.modalHelperContent {
  background-color: #ffffff;
  color: black;
  margin: 20% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
  border-radius: 5px;
}

.modalRecorderContent > div:first-child {
  background-color: #e0e0e0;
  margin: 0px;
  padding: 10px 0px 10px 0px;
  text-align: center;
  width: 100%;
}

.characterClose, .recorderClose, .helperClose {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.characterClose:hover,
.characterClose:focus,
.recorderClose:hover,
.recorderClose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.divProfile > div > img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: medium solid black;
  border-radius: 42px;
}

.divProfile > div > img:first-child {
  margin-left: 10px;
}

.divProfile > div {
  width: 33%;
}

.divProfile > div > p {
  width: 30%;
  text-align: center;
  margin-left: 34%;
  margin-top: 10px;
  margin-bottom: 0px;
}

.divProfile {
  display: inherit;
}

.gifVoice {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 42%;
}

#btnRecord > i {
  color: red;
}

.divRecord {
  padding: 20px 10px 0px 10px;
  width: 100%;
  text-align: center;
}

#btnRecordReload > i, #btnRecordUpload > i {
  color: black;
}

#btnRecordReload {
  margin-left: auto;
  margin-right: auto;
  float: left;
  display: none;
}

#btnRecordUpload {
  margin-left: auto;
  margin-right: auto;
  float: right;
  display: none;
}

#divPreRecord > audio {
  margin-bottom: -7px;
}

.balloon {
  display: inline-block;
  position: relative;
  background: #f5f013;
  margin: 0 auto 10px;
  border-radius: 10px !important;
  z-index: 10;
  float: right;
}
.balloon:after {
  content: '';
  position: absolute;
  height: 51px;
  width: 50px;
  border-radius: 18px;
  z-index: 1;
  background: #486f91;
  bottom: -6px;
  right: -50px;
}
.balloon:before {
  content: '';
  position: absolute;
  height: 29px;
  width: 40px;
  border-radius: 20px;
  z-index: -1;
  background: #f5f013;
  bottom: -1px;
  right: -32px;
}

.balloon-ai {
  display: inline-block;
  position: relative;
  background: #f5f6f7;
  margin: 0 auto 10px;
  border-radius: 10px !important;
  z-index: 10;
}
.balloon-ai:after {
  content: '';
  position: absolute;
  height: 70px;
  width: 50px;
  border-radius: 16px;
  z-index: 1;
  background: #486f91;
  bottom: -4px;
  left: -50px;
}
.balloon-ai:before {
  content: '';
  position: absolute;
  height: 31px;
  width: 50px;
  border-radius: 10px;
  z-index: -1;
  background: #f5f6f7;
  bottom: -1px;
  left: -45px;
}

.body_login {
  width: 345px;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

.span_conan {
  margin-left: 7%;
  margin-right: 10%;
}

.span_kogoro {
  margin-left: 4%;
  margin-right: 7%;
}

.span_nam {
  margin-left: 9%;
  margin-right: 3%;
}

#character_change_conan {
  display: inline-block;
  border-color: lightgray;
  border-radius: 30px;
  width: 26%;
  margin: 3%;
  padding: 2%;
}

#character_change_you {
  display: inline-block;
  border-color: lightgray;
  border-radius: 30px;
  width: 26%;
  margin: 3%;
  padding: 2%;
}

#character_change_nam {
  display: inline-block;
  border-color: lightgray;
  border-radius: 30px;
  width: 26%;
  margin: 3%;
  padding: 2%;
}

#imgConanProfile, #imgYouProfile, #imgNamProfile {
  width: 100%;
  border-radius: 30%;
}

.btnPrevious {
  float: left;
  color: white;
}

.btnHelp {
  color: white;
}